<?xml version="1.0" encoding="UTF-8"?>
<Context path="/car-services" debug="0" reloadable="true" override="true">

	<Valve className="org.keycloak.adapters.tomcat.KeycloakAuthenticatorValve"/>

</Context>
