page-home {
    
    #map {
       
        height:100%;
        width: 100%;
    
    }

    .logo-img{
       height: 30px;
    }

    .title{
        text-align: center;
        margin-right: 56px;
    }

}
